/**
* Author: Francisco Machado Carreiro
* Email: franciscomcarreiro@gmail.com
* Developed By: Francisco Machado Carreiro
* Author URL: https://github.com/francisco-carreiro
**/

/*===================================================================================
	Typography links 
 	Import Google Fonts
=====================================================================================*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800,800i|Poppins:400,400i,600,600i,700,700i,800,800i");

/*===================================================================================
Default Css
=====================================================================================*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
}

h1,
h2,
h3,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h6 {
  font-size: 14px;
  line-height: 22px;
}

p {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

.nav-logo {
  width: 25%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

a:hover,
a:focus,
a.active {
  text-decoration: none !important;
  box-shadow: none !important;
}

*,
::after,
::before {
  outline: none !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn {
  padding: 10px 30px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
  margin-left: 0px !important;
}

.full_row {
  position: relative;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ececec !important;
}

/*=====================================================================================
Default Margin and Padding
========================================================================================*/

/*  Margin 
======================*/
.mt_15 {
  margin-top: 15px;
}

.mb_30 {
  margin: 0 auto;
}

/*  padding  
========================*/

.p_20 {
  padding: 20px;
}

.pb_5{
  padding-bottom: 5px;
}

.py_80 {
  padding: 80px 0px;
}

.pt_15 {
  padding-top: 15px;
}

.pb_60 {
  padding-bottom: 60px;
}

/*=======================================================================
Social Media
=========================================================================*/

.social_media_2 ul li {
  margin-bottom: 15px;
}

.social_media_2 ul li a {
  width: 50px;
  height: 50px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid;
}

.social_media_2 ul li {
  float: left;
  padding-right: 10px;
  font-size: 20px;
}

/*====================================================================
Main Title
======================================================================*/

.section_title_1 .title span {
  display: table;
  font-size: 18px;
  font-weight: 600;
  padding-left: 35px;
}

.section_title_1 {
  width: 60%;
}

.line_double {
  position: relative;
  text-transform: lowercase;
  padding: 0 50px !important;
}

.line_double::before {
  left: 0;
}

.line_double::before,
.line_double::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
}

.line_double::after {
  right: 0;
}

.line_double::before,
.line_double::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
}

/*====================================================================
Background Image/Video
======================================================================*/

.overlay_fade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  z-index: 1;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/*====================================================================
Nav Menu Css
======================================================================*/

.navbar {
  padding: 0px;
}

.box-layout .main_nav {
  width: 1280px;
  display: inline-block;
  margin: 0 auto;
}

header {
  z-index: 11;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

.main_nav {
  width: 100%;
  right: 0;
  left: 0;
  position: absolute;
  padding: 15px 0;
  min-height: 72px;
}

.nav-scroll {
  left: 0;
  padding: 15px 0px;
  position: fixed;
  top: -100px;
  width: 100%;
  z-index: 100;
}

.navbar .navbar-nav .nav-item {
  padding: 0px 15px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 0;
}

.navbar-nav .nav-item .nav-link:before {
  position: absolute;
  content: "";
  width: 100%;
  display: table;
  height: 2px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
}

.navbar-nav .nav-item .nav-link.active:before {
  opacity: 1;
}

/*====================================================================
Main banner
======================================================================*/

.banner_image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.mainbanner_content {
  position: relative;
  z-index: 9;
}

.banner_title {
  font-size: 25px;
}

.mainbanner_content p {
  font-size: 14px;
  letter-spacing: 1px;
  width: 50%;
}

/*===============================================================================
About
=================================================================================*/

.personal_info ul li {
  border-bottom: 1px solid;
  padding: 10px 0px;
}

.personal_info ul li {
  border-bottom: 1px solid;
  border-width: 80%;
  padding: 10px 0px;
}

.myself img {
  width: 150px;
  height: auto;
  float: right;
}

/*===============================================================================
Profile Image 
=================================================================================*/

.profile_img {
  position: relative;
  width: 75%;
  margin-top: 25px;
}

.profile_image_border:before, .profile_image_border:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg,#47B5FF,#1363DF,#2078fc);
	background-size: 1000%;
	width: calc(100% + 5px);
	height: calc(100% + 5px);
	z-index: -1;
	animation: steam 20s linear infinite;
  border-radius: 200px
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.profile_image_border:after {
	filter: blur(50px);
}

/*===============================================================================
Progress Bar and Fact Counter
=================================================================================*/

/* progress-bar */

.prgs-bar {
  position: relative;
}

.prgs-bar > span {
  font-weight: 600;
  text-transform: uppercase;
}

.skill-progress .progress {
  margin: 5px 0 20px;
  border-radius: 50px;
}

.skill-percent {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  font-weight: 700;
  font-size: 15px;
}

.progress-bar {
  transition: all 5000ms ease 0s;
  width: 0;
}

/* Fact Counter */

.fact-counter {
  position: relative;
  z-index: 11;
}

.counter span:before {
  font-size: 44px;
  margin-left: 0;
}

.count-num {
  float: left;
  display: contents;
}

.counting_digit span {
  font-size: 30px;
  margin-left: 5px;
}

.counter h3 {
  font-weight: 600;
  letter-spacing: 3px;
}

/*==================================================================================
Services Two
====================================================================================*/

.service_one p {
  padding: 30px 20px;
}

.srv_item_number {
  position: relative;
  overflow: hidden;
  text-align: right;
  border-bottom: 1px dotted;
}

.srv_item_number:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 80px;
}

.srv_item_number strong {
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  position: relative;
  top: 20px;
  display: inline-block;
  transition: all 0.4s ease;
  padding-right: 20px;
}

.service_one .srv_icon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.8s ease;
  text-align: center;
  margin: 0 auto;
}

.service_one .srv_icon span:before {
  font-size: 42px;
  line-height: 100px;
}

.service_one:hover .srv_item_number strong {
  top: 0;
}

.service_one:hover .srv_icon {
  transform: rotateY(180deg);
}

/*===============================================================================
16.		Portfolio
=================================================================================*/

.filters ul li {
  float: left;
  margin: 15px 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.default-portfolio-item {
  position: relative;
  margin-bottom: 30px;
}

.default-portfolio-item .overlay-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  visibility: hidden;
}

.default-portfolio-item .overlay-box span {
  position: absolute;
  left: 0px;
  top: 47%;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
}

.default-portfolio-item .overlay-box span i.fa {
  text-align: center;
  font-size: 24px;
}

.filter-list .mix {
  display: none;
}

.gallery-section .filters {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.gallery-section .filter-btns {
  position: relative;
  text-align: center;
}

.gallery-section .filter-btns li {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  line-height: 24px;
  border: 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 15px;
}

.tag {
  position: absolute;
  left: 15px;
  bottom: 5%;
  vertical-align: middle;
  text-align: center;
}

.tag ul li {
  float: left;
  padding-right: 5px;
}

.overlay-box {
  border: 5px solid;
}

/*===============================================================================
17.   Contact
=================================================================================*/

.contact_info ul li {
  margin-bottom: 10px;
  text-align: center;
  display: grid;
}

.contact_text h6 {
  font-weight: 600;
  letter-spacing: 1px;
}

.form-control {
  padding: 5px 15px;
  font-size: 14px;
  height: calc(30px + 15px);
  margin-bottom: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.error-handel {
  position: relative;
}

.error-handel:before {
  bottom: -30px;
  display: table;
  height: 35px;
  left: 15px;
  margin: auto 0;
  position: absolute;
  text-align: left;
  width: 100%;
}

#success,
#error {
  display: none;
  line-height: 34px;
}

#success,
#error {
  display: none;
  line-height: 34px;
}

#success {
  color: #31bb15;
}

.contact_text {
  display: table-cell;
}

.subscribe .form-control {
  border-bottom: 0px;
}

/*===============================================================================
18.   Preloader 
=================================================================================*/

.preloader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgb(0, 0, 0) !important ;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.lds-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/*===============================================================================
19.   Back to Top
=================================================================================*/

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 11;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
}

/*===============================================================================
20.   Page Banner
=================================================================================*/

.banner {
  padding: 110px 0px;
}

/*===============================================================================
21.   Page Nav
=================================================================================*/

nav ul li.page-item {
  margin-right: 7px;
}

/*============================================================================
22.  Default Animation Css
=============================================================================*/

/*  Nav Animation
======================================================*/

.nav-scroll,
.menu-scroll {
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  -moz-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}

.navbar-nav .nav-item .nav-link:before {
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.navbar-nav .nav-item .nav-link:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.navbar-nav .nav-item .nav-link.active:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

/*  Default Animation
==========================================================================*/

.default-portfolio-item .overlay-box,
.table,
.btn_info {
  -webkit-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.default-portfolio-item .overlay-box .arrow span i.fa:hover {
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
}

.default-portfolio-item .overlay-box {
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}

.default-portfolio-item:hover .overlay-box {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  visibility: visible;
}

#pp-nav li .active span:before {
  -ms-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

/*  Transform
===========================================================================*/

.line_double::before,
.line_double::after,
.line_double::before,
.line_double::after,
.profile_img {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.lds-spinner {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*============================================================================
23.   Color Settings
==============================================================================*/

#page_wrapper {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

.box-layout {
  margin: 0 auto;
  border-radius: 1px;
  width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 9;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.body_overlay {
  position: relative;
  height: 100%;
}

.body_overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/*
  Sidebar panel css
======================================*/

/*----- Input Radio Switch ----*/

.template_style ul li {
  float: left;
  font-size: 13px;
  margin-right: 10px;
}

.btn_link,
.btn_link:hover {
  color: #000;
}

.switcher_layout,
.box_bg_style,
.template_style {
  border-top: 1px solid #e7e7e7;
}

.select_bg {
  display: inline-block;
  width: 100%;
}

.layout_title {
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}

.radio_check {
  border-radius: 22px;
  display: block;
  height: 44px;
  width: 100px;
  position: relative;
  overflow: hidden;
}

.radio_check input[type="checkbox"] {
  display: none;
}

.radio_check label {
  padding: 0 15px;
  transform: translateX(0px);
  width: 156px;
  cursor: pointer;
  max-width: inherit;
}

.radio_check input[type="checkbox"]:checked + label {
  transform: translateX(-56px);
}

.radio_check label span {
  line-height: 44px;
  color: #fff;
}

.radio_check label span:first-child {
  float: left;
}

.radio_check label span:last-child {
  float: right;
}

.radio_check label::before {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 58px;
  position: absolute;
  top: 2px;
  width: 40px;
  z-index: 1;
}

/*----- Box BG Image ----*/

[type="radio"] {
  display: none;
}

label.radios {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-weight: 500;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

[type="radio"]:checked + label.radios::after {
  font-family: FontAwesome;
  content: "\f00c";
  line-height: 28px;
  border: 1px solid;
  text-align: center;
}

.box_bg_style label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

[type="radio"]:checked + label.radios::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 30px;
  height: 30px;
}

.box_bg_style li {
  float: left;
  margin: 0 3px 0 0;
}

/*
  Color Setting css
================================================*/

.on-panel {
  height: 45px;
  left: -45px;
  position: absolute;
  top: 0;
  width: 45px;
  cursor: pointer;
  font-size: 7px;
  line-height: 55px;
}

.color-panel {
  position: fixed;
  right: -225px;
  top: 90px;
  z-index: 111;
  -webkit-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.color-panel.open {
  right: 0;
}

.on-panel img {
  padding: 10px;
}

.panel-box,
.switcher_layout,
.box_bg_style,
.template_style {
  padding: 10px 10px 10px 20px;
  width: 225px;
  background: #f8f8f8;
  display: table;
}

.panel-box .panel-title {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.color-box {
  display: table;
  width: 100%;
  text-align: left;
}

.color-box li {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  cursor: pointer;
}

.scroll-btn {
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  z-index: 9;
}

.color-panel {
  background-color: #fff;
}

.color-box li {
  position: relative;
  overflow: hidden;
}

.color-box li.active {
  border: 2px solid #000;
}

.color-box li.default {
  background-color: #ffb32f;
}

.color-box li.color_2 {
  background-color: #90c923;
}

.color-box li.color_3 {
  background-color: #00cad6;
}

.color-box li.color_4 {
  background-color: #00cd7b;
}

.color-box li.color_5 {
  background-color: #ffd633;
}

.color-box li.color_6 {
  background-color: #d2bd7f;
}

.color-box li.color_7 {
  background-color: #00fff7;
}

.color-box li.color_8 {
  background-color: #f3c26b;
}

.color-box li.color_9 {
  background-color: #ff3926;
}

.color-box li.color_10 {
  background-color: #f89635;
}

.color-box li.color_11 {
  background-color: #ffeb69;
}

.color-box li.color_12 {
  background-color: #73b5ff;
}

.color-box li.color_13 {
  background-color: #00a1f2;
}

.color-box li.color_14 {
  background-color: #1da8ab;
}

/*=================================================================================
 24.   Responsive Media Queries Css
 ==================================================================================*/

/*
// Extra large devices (large desktops, 1200px and up)
============================================================*/

@media (min-width: 1200px) {
  .services,
  .contact,
  .footer_bottom {
    margin-left: 30px;
  }

  .hover_overlay .border strong {
    margin-bottom: 5px;
  }

  .border {
    padding: 10px;
  }

  .border p {
    margin-bottom: 15px;
  }
}

/*
// Large devices (desktops, 992px and up)
============================================================*/

@media (max-width: 1199px) {
  h1 {
    font-size: 28px;
    line-height: 32px;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .border {
    padding: 10px;
  }

  .border p {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 16px;
  }

  .services,
  .contact,
  .footer_bottom {
    margin-left: 70px;
  }

/*
// Medium devices (tablets, 768px and up)
============================================================*/

@media (max-width: 991px) {
  .main_nav {
    background-color: #06283d !important;
  }

  .mainbanner_content p {
    width: 71%;
  }

  .section_title_1 {
    width: 75%;
  }

  .about_myskill h2 {
    font-size: 30px;
  }

  .counter h3 {
    font-size: 15px;
  }

  /*  horizontal and vertical version responsive css */

  .services,
  .contact,
  .footer_bottom {
    margin-left: 70px;
  }

  .main_title p {
    width: 80%;
  }

  .hover_overlay .border strong {
    font-size: 24px;
  }

  .hover_overlay .border p {
    font-size: 16px;
    line-height: 26px;
    padding: 30px 30px 0px;
  }

  .contact_text span {
    font-size: 13px;
  }

  .filters ul li {
    margin: 0px 10px;
  }

  .table {
    margin-bottom: 30px;
  }

  .widget {
    padding: 20px 10px;
    margin-bottom: 30px;
  }

  .replied {
    margin-left: 40px;
  }
}

/*
// Small devices (landscape phones, 576px and up)
============================================================*/

@media (max-width: 767px) {
  .mainbanner_content p {
    width: 100%;
  }

  .section_title_1 {
    width: 100%;
  }

  .counter {
    margin-bottom: 30px;
  }

  .filters ul li {
    margin: 5px 10px;
  }

  .skill-progress {
    margin-top: 20px;
  }

  /*  horizontal and vertical version responsive css */
  .banner_title {
    font-size: 18px;
  }

  .main_nav {
    background-color: #06283d !important;
  }

  .sidebar img {
    margin-bottom: 20px;
  }

  .navbar-brand {
    text-align: left;
    top: 0px;
    position: absolute;
    z-index: -2;
  }

  .contact_massage {
    top: 20px;
    width: 50px;
    height: 50px;
  }

  .contact_massage a {
    font-size: 20px;
    line-height: 50px;
  }

  h1 {
    font-size: 20px;
    line-height: 24px;
  }

  h2 {
    font-size: 22px;
    line-height: 26px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .btn {
    padding: 5px 15px;
    font-size: 12px;
  }

  .sidebar {
    padding: 15px 10px;
  }

  .services,
  .contact,
  .footer_bottom {
    margin-left: 70px;
  }

  .main_title p {
    width: 90%;
  }

  .hover_overlay .border strong {
    font-size: 20px;
  }

  .hover_overlay .border p {
    font-size: 16px;
    line-height: 26px;
    padding: 15px 15px 0px;
  }

  .footer-widget .main_title {
    margin-top: 30px;
  }

  .pagination {
    margin-bottom: 60px;
  }

  .reply_form {
    margin-bottom: 60px;
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
============================================================*/

@media (max-width: 575px) {
  .mainbanner_content h1 {
    font-size: 26px;
    line-height: 34px;
  }

  .counter {
    margin-bottom: 30px;
  }

  .banner_title {
    font-size: 20px;
  }

  .mainbanner_content p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    width: 100%;
  }

  .section_title_1 {
    width: 100%;
    font-size: 14px;
  }

  .section_title_1 .title {
    font-size: 24px;
    line-height: 36px;
  }

  .skill-progress {
    margin-top: 20px;
  }

  .about_myskill h2 {
    font-size: 24px;
  }

  .main_nav {
    background-color: #06283d !important;
  }

  .navbar-brand {
    text-align: left;
    top: 0px;
    position: absolute;
    z-index: -2;
  }

  .sidebar {
    padding: 30px 10px;
  }

  h1 {
    font-size: 20px;
    line-height: 24px;
  }

  h2 {
    font-size: 18px;
    line-height: 23px;
  }

  h3 {
    font-size: 17px;
    line-height: 22px;
  }

  .btn {
    padding: 5px 15px;
    font-size: 12px;
  }

  .services,
  .contact,
  .footer_bottom {
    margin-left: 70px;
  }

  .main_title p {
    width: 100%;
  }

  .filters ul li {
    margin: 0px 10px;
  }

  .tag ul li {
    font-size: 12px;
  }

  .border {
    padding: 12px;
  }

  .border p {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 18px;
  }

  .footer-widget .main_title {
    margin-top: 30px;
  }

  .pagination {
    margin-bottom: 60px;
  }

  .replied {
    margin-left: 35px;
  }
}

/* 
//  (320x480) iPhone (Original, 3G, 3GS)
============================================================*/

@media (max-width: 480px) {
  h1,
  h2,
  h3,
  h6 {
    font-weight: 600;
  }

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 18px;
    line-height: 22px;
  }

  .services,
  .contact,
  .footer_bottom {
    margin-left: 55px;
  }

  .main_nav {
    background-color: #06283d !important;
  }

  .about_myskill h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .filters ul li {
    margin: 0px 8px;
    font-size: 14px;
  }

  .social_media_2 {
    margin-bottom: 30px;
  }

  /*  horizontal and vertical version responsive css */

  .sidebar img {
    margin-bottom: 25px;
  }

  .nav-item {
    margin: 0px 10px 10px 0px;
  }

  .hover_overlay p {
    font-size: 12px;
  }

  .hover_overlay .border p {
    font-size: 13px;
    line-height: 22px;
  }

  .hover_overlay .border p {
    padding: 0px;
  }

  .hover_overlay .border strong {
    font-size: 15px;
  }
}
